body {
    margin: 0;
    padding: 0;
}

.AppContainer {
    display: flex;
    align-items: center ;
    justify-content: center;
    background-image: url(../images/intro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.Inputan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 370px;

}

input {
    border-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.07);height: 40px;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 4px;
}

Button {
    margin-top: 10px;
    border-radius: 4px;
}

form {
    height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.37);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}